<fieldset>
  <div class="form-group">
    <label>{{localize "BFREF.DIALOG.RULES_SEARCH"}}</label>
    <div class="form-fields">
      {{formInput rule.field value=rule.value placeholder=rule.placeholder name="rule" autocomplete="off"
      datalist=rule.choices}}
    </div>
  </div>
</fieldset>