<fieldset>
  {{ formGroup average.field value=average.value localize=true }}
  {{ formGroup extended.field value=extended.value localize=true }}
  <div class="form-group">
    <label>{{localize "BFREF.DIALOG.DAMAGE_ADD"}}</label>
    <button class="flex0" type="button" data-action="addPart">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
</fieldset>