<fieldset class="standard-form">
  <div class="form-group">
    <label>{{localize "BFREF.DIALOG.FORMULA"}}</label>
    <div class="form-fields">
      {{ formInput formula.field value=formula.value placeholder=formula.placeholder name=formula.name }}
    </div>
  </div>
  {{ formGroup extended.field value=extended.value localize=true }}
</fieldset>