<fieldset>
    <legend>{{promptText}}</legend>
    <p><em>"{{textToSelect}}"</em></p>
    <p class="notes warning">
        <i class="fas fa-exclamation-triangle"></i> {{warningText}}
    </p>
</fieldset>